.App {
  text-align: center;
}

/*GENERAL*/

* {
  box-sizing: border-box;;
}

body {
  font-family: sans-serif;
  /*Show blank scroll bar even if contents don't overflow screen*/
  text-align: center;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

h1 {
  font-size: 20px;
  margin: 0 0 5px;
}

h2 {
  font-size: 18.5px;
  font-weight: normal;
  margin:  0 0 20px;
}

input {
  font-family: helvetica;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 16px 12px;
}

input:focus {
  outline: none;
}

input.disabled {
  text-align: center;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 26px 28px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 4px #ddd;
  border-radius: 2px;
}

/*HEADER*/

header {
  text-align: center;
  padding: 26px;
}

/*SEARCH*/

.search .suggestion-dropdown {
  font-size: 12px;
}

.suggestion-dropdown a {
  color: black;
}

.suggestion-dropdown .suggestion-item {
  text-align: left;
  margin-bottom: 0px;
  box-shadow: 0 0 1px #aaa;
  border-radius: 2px;
  cursor: pointer;
  /*to contain the floats below*/
  overflow: hidden;
}

.suggestion-active {
  background-color: #d8d8d8;
}


.suggestion-item p {
  padding: 7px 12px;
}

.suggestion-item p.display-name {
  float: left;
}

.suggestion-item p.type {
  float: right;
  text-align: right;
  font-weight: bold;
  color: #777;
}
