header {
  text-align: center;
  padding: 26px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 26px 28px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 4px #ddd;
  border-radius: 2px;
  position: relative;
}

h1 {
  font-size: 20px;
  margin: 0 0 5px;
}

h2 {
  font-size: 18.5px;
  font-weight: normal;
  margin:  0 0 20px;
}
