* {
  box-sizing: border-box;;
}

body {
  font-family: sans-serif;
  /*Show blank scroll bar even if contents don't overflow screen*/
  text-align: center;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background: #fafafa;
}
