.suggestion-item {
  text-align: left;
  margin-bottom: 0px;
  cursor: pointer;
  /*to contain the floats below*/
  overflow: hidden;
}

.suggestion-active {
  background-color: #e5e5e5;
}

.suggestion-item p {
  padding: 0 12px;
}

.suggestion-item p.display-name {
  float: left;
}

.suggestion-item p.type {
  float: right;
  text-align: right;
  font-weight: bold;
  color: #777;
}
